/*--------------------------------------------------------------
  # Header Nav
  --------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
  color: var(--primary);
}

.header-nav .nav-icon {
  font-size: 22px;
  color: var(--primary) !important;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: var(--primary) !important;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary) !important;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: var(--primary) !important;
}

.header-nav .notifications .notification-item:hover {
  background-color: var(--bgDarkerColor)!important;
}

.header-nav .notifications .notification-item:hover span {
  color: var(--bgColor) !important;
}

.header-nav .notifications .notification-item:hover p {
  color: var(--bgColor) !important;
}

.header-nav .notifications .notification-item:hover h4 {
  color: var(--bgColor) !important;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--primary) !important;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: var(--primary);
}

.header-nav .messages .message-item:hover {
  background-color: var(--bgDarkerColor)!important;
}

.header-nav .messages .message-item:hover p {
  color: var(--bgLightColor) !important;
}

.header-nav .messages .message-item:hover h4 {
  color: var(--bgLightColor) !important;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--primary) !important;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
  color: var(--primary) !important;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: var(--bgDarkerColor) !important;
}

.header-nav .profile .dropdown-item:hover span {
  color: var(--bgLightColor) !important;
}

.header-nav .profile .dropdown-item:hover p {
  color: var(--bgLightColor) !important;
}

.header-nav .profile .dropdown-item:hover i {
  color: var(--bgLightColor) !important;
}

.header-nav .dropdown-menu{
  width: 80vw;
  max-width: 350px;
  max-height: 80vh;
  overflow-y: auto;
}

.header-nav .dropdown-menu::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
  background-color: var(--bgDarkerColor);
}

.header-nav .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: var(--bgDarkerColor) !important;
}